/* 
Explanations from MDN Web Docs https://developer.mozilla.org/en-US/

Basic CSS rule syntax

selectorlist {
  property: value;
  [more property:value; pairs]
} 
*/

body { 
  font-family: Helvetica, sans-serif; /* Change font */
  margin: 0; /* no margins anywhere */ 
}
